{{- define "layouts/layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light dark" />
   <title>{{template "title" .}} - Own My Photos</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/pico.min.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/styles.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/spinner.min.css" />
   <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
   {{stylesheetIncludes "Stylesheets" .}}

   <script src="/static/js/htmx.min.js"></script>
</head>

<body class="parent">
   <header class="grid top-header">
      <nav>
         <ul>
            <li>
               <h1><a href="/"><img src="/static/images/logo.png" alt="Own My Photos" /></a></h1>
            </li>
         </ul>
         <ul>
            <li>
               <form hx-post="/search/simple" hx-push-url="true" hx-target="#mainContent">
                  <input type="search" id="globalSearch" name="term" />
                  {{if isSet "Root" .}}
                  <input type="hidden" name="root" id="root" value="{{.Root}}" />
                  {{end}}
               </form>
            </li>
            <li><a hx-get="/about" hx-push-url="true" hx-target="#mainContent">About</a></li>
            <li><a hx-get="/settings" hx-push-url="true" hx-target="#mainContent">Settings</a></li>
         </ul>
      </nav>
   </header>
   <!-- END NAV -->

   <main class="main">
      <aside class="sidebar">
         {{template "components/sidebar-nav" .}}
      </aside>

      <div id="mainContent">
         {{template "content" .}}
      </div>
      </div>
   </main>

   <footer id="page-footer">
      <p>&copy; 2025 Adam Presley</p>
   </footer>

   <script type="module" src="/static/js/spinner-middleware.js"></script>
   <script type="module" src="/static/js/pages/layout.js"></script>
   {{javascriptIncludes "JavascriptIncludes" .}}
</body>

</html>
{{end}}
