{{if .IsHtmx}}
{{template "no-layout" .}}
{{else}}
{{template "layouts/layout" .}}
{{end}}

{{define "content"}}
{{template "components/display-messages" .}}

<section class="current-path-container">
   <strong>Current folder: </strong>
   {{if not .Root}}
   <em> Library root</em>
   {{else}}
   <em> {{.Root}}</em>
   {{end}}
</section>

<section class="folders">
   {{if not (eq .Parent "root")}}
   <div class="folder">
      <a hx-get="/?root={{.Parent}}" hx-push-url="true" hx-target="#mainContent">
         <i class="icon icon-folder-arrow-up"></i> ..
      </a>
   </div>
   {{end}}

   {{range .Images}}
   {{if .IsDirectory}}
   <div class="folder">
      <a hx-get="/?root={{.RelativePath}}" hx-push-url="true" hx-target="#mainContent">
         <i class="icon icon-folder"></i> {{.Name}}
      </a>
   </div>
   {{end}}
   {{end}}
</section>

<section class="gallery">
   {{range .Images}}
   {{if not .IsDirectory}}
   <div class="frame">
      <div class="actions">
         <a href="/library/download?root={{$.Root}}&name={{.Name}}&ext={{.Ext}}" alt="Download image"
            title="Download image">
            <i class="icon icon-download"></i>
         </a>

         <a hx-put="/library/toggle-favorite/{{.Photo.ID}}"
            alt="{{if .IsFavorite}}Un-favorite{{else}}Favorite{{end}} image"
            title="{{if .IsFavorite}}Un-favorite{{else}}Favorite{{end}} image" hx-swap="innerHTML">
            {{if .IsFavorite}}
            <i class="icon icon-heart"></i>
            {{else}}
            <i class="icon icon-empty-heart"></i>
            {{end}}
         </a>
      </div>

      <a data-fslightbox="gallery" data-caption="{{.Caption}}" href=" /library/{{.Photo.ID}}">
         <img src="/library/{{.Photo.ID}}/thumbnail" />
      </a>
   </div>
   {{end}}
   {{end}}
</section>

{{end}}
